*{box-sizing: border-box;}

#openButton {background-color:aquamarine;}

#dialogBox {background-color: beige;}

#closeButton {background-color: lightcoral;}

::backdrop {
    background-color: #a52a2a;
}